version: "3.9"

services:
  keycloak:
    build: ./Keycloak
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
    ports:
      - "8080:8080"
    depends_on:
      - keycloak-postgres

  keycloak-postgres:
    image: postgres:15
    container_name: keycloak-postgres
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - keycloak_data:/var/lib/postgresql/data

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  app-postgres:
    image: postgres:15
    container_name: app-postgres
    environment:
      POSTGRES_DB: notebook_db
      POSTGRES_USER: notebook
      POSTGRES_PASSWORD: notebook
    ports:
      - "5432:5432"
    volumes:
      - app_data:/var/lib/postgresql/data

volumes:
  keycloak_data:
  app_data:
  qdrant_data: